$body-bg: #0f0f0f;
$main-color: "";
$text-color: #ffffff;

$box-shadow: "";

$header-hight: 8rem;
$header-shrink-height: 5rem;
$border-radius: 32px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Inter", sans-serif;
